<%= turbo_frame_tag @post do %>
  <div class="post">

    <% if @delete_rights %>
      <%= link_to 'Delete post', post_path(@post), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this post?' } %>
    <% end %>
    
    <%= link_to @user.email, user_path(@user), data: { turbo_frame: "_top" } %>
    <%= @post.body %>


    <%# like button %>
    <%= render partial: 'likes/likes', locals: { post: @post, like: @like } %>


    <%# comments %>
    <%= turbo_frame_tag id="new_comment", src:new_post_comment_path(@post) %>

    <div id="comments">
      <% @comments.each do |comment| %>
        <%= render partial: 'comments/comment', object: comment %>
      <% end %>
    </div>

  </div>
<% end %>